<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/SAGAR WORK/SELENIUM_JAVA/Java-Selenium-Rahulshetty-Course"><classes><class name="com.sagar.dropdowns.dynamicdropdown.TestDynamicDropDown"><methods><include name="dropDown"/><include name="dropDownWithoutTraversing"/><include name="dropDownUsingExplicitWait"/></methods></class><class name="com.sagar.dropdowns.staticdropdown.TestLoopingDropdowns"><methods><include name="dropDown"/></methods></class><class name="com.sagar.dropdowns.staticdropdown.TestStaticDropDowns"><methods><include name="staticDropdown"/></methods></class></classes></test></suite>